@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Public+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700;1,800&display=swap');

body {
    font-family: 'Castoro', serif;
    font-family: 'Public Sans', sans-serif;  
}

h1 {
    font-size: 2.9 rem;
    font-weight: 800;
}

.hero-container div {
    text-align: center;
    color: #ffffff;
    padding: 40px 20px 60px 20px;
    margin-bottom: 30px;    
}

.hero-container p {

    text-align: center;
    font-size: 2.5rem;
    text-shadow: 3px 3px #000000;
    color: #ffffff;
}

#hero-button {
    margin: 20px;
    opacity: 1.0;
}

img.header-logo {
    max-height:125px;
}

img.fbi-seal {
    max-height:125px;
}
 img.hero-image {
     max-width: 100%;
     margin-bottom: 30px;
     opacity: 0.5;
 }

.crc-footer {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 30px 0px;
    background: #000000;
    color: #ffffff;
    width: 100%;
}

.crc-footer h3 {
    width: 500px;;
    margin: 0px auto 50px auto;
    color: #a0a0a0;
}

.crime-search-form {
    margin: 20px 0px 60px 0px;
    padding: 20px;
    background-color: #f0f0f0;
}

.crime-chart {
    margin-bottom: 60px;
}

.crime-chart h1.title {
    margin-top: 20px;
    color: rgb(1, 45, 100);
    text-align: center;
}


.crime-text {
    margin-bottom: 60px;
}

.arrest-search-form {
    margin: 20px 0px 60px 0px;
    padding: 20px;
    background-color: #f0f0f0;    
}

.arrest-chart {
    margin-bottom: 60px;
}

.arrest-chart h1.title {
    margin-top: 20px;
    color: rgb(1, 45, 100);
    text-align: center;
}


.arrest-text {
    margin-bottom: 60px;
}

.crc-footer .copyright {
    margin: 80px auto 0px auto;;
    text-align: center;
    font-size: 0.95rem;
    color: #c0c0c0;
}


.about-page, .contribute-page {
    justify-content: center;
    margin: 40px auto 80px auto;
    font-size: 1.1rem;
    line-height: 120%;
}

.about-page h2, .contribute-page h2{
    margin: 0px 0px 30px 0px;
}


footer {
    font-size: 0.9rem;
    margin: 60px 0px 20px 0px;
}

footer p {
    font-size: 0.9rem;
    margin: 2px;
}

.crc-footer li {
    margin-left: -20px;
}